* {
  margin: 0;
  padding: 0;
}

#navbar {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  background: #fafafa;
  font-family: system-ui, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.nav-item:first-child {
  text-align: left;
}

.nav-item:nth-child(2) {
  text-align: left;
}

.nav-item:last-child {
  text-align: right;
}

@font-face {
  font-family: "OTMontreal";
  src: url("/font/OTNeueMontreal-MediumSqueezed.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/font/HelveticaNeue-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

#page-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "OTMontreal", sans-serif;
  font-size: 8rem;
  letter-spacing: -2px;
  line-height: 80%;
  text-transform: uppercase;
}

.title-row {
  display: flex;
}

.title-row-top {
  justify-content: space-between;
}

.title-row-bottom {
  justify-content: center;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fafafa;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fafafa;
  display: flex;
  flex-direction: column;
}

#app {
  width: 100%;
  flex: 1;
  overflow: hidden;
  background: #fafafa;
  box-sizing: border-box;
  padding-top: 24px;
  padding-bottom: 24px;
}

svg text {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 110%;
  pointer-events: none;
  user-select: none;
}

circle {
  cursor: pointer;
}
